@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

:root {
    --primary_light: #AAC0AF;
    --secondary_light: #232F26;

    --primary_dark: #232F26;
    --secondary_dark: #AAC0AF;


    --primary: var(--primary_light);
    --secondary: var(--secondary_light);
}

*, html {
    margin:0;
    padding:0;
}


.full_wh {
    height: 100vh;
    width: calc(100vw - 2rem);
    padding-left: 2rem;
}

#sec_hero {
    position: relative;
    background: var(--primary);
}

#hero_text {
    font-family: "JetBrains Mono", monospace;
    color: var(--secondary);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#hero_text h1 {
    font-size: max(10rem, 100px)
}

#hero_text h2 {
    font-size: max(2.5rem, 50px)
}